<div class="card">
  <div class="item item-divider item-text-wrap center">
    <h2><b><u>CONSENT FORM</u></b></h2>
    <p> Last updated: 8 Nov 2015 </p>
  </div>
  <div class="item item-text-wrap scrollable_body">
  
  <center><h2><b>  Determining the efficiency of an user interface redesign</b></h2></center>
    <p>You are invited to participate in a web experiment on using <b>JiaYong</b>, an application that empowers parents to manage the proposal of tasks for their children in exchange for extra allowance. You will be asked to perform a series of tasks with the JiaYong application on a mobile web browser, as well as complete a questionnaire on your thoughts about the application after the experiment. <b><u>IMPORTANT</u>:</b> Please read through the instructions on the tasks' details attached in our email before proceeding.</p>
<br/>
  <h4>TIME INVOLVEMENT:</h4>  
    <p>Your participation will take approximately <b>15 minutes</b>.</p>
<br/>
    <h4>RISKS AND BENEFITS:</h4>  
    <p>There are no known risks associated with this study. There are no expected benefits from this experiment.</p>
<br/>
    <h4>PAYMENTS:</h4>  
    <p>There will be no reimbursement for your participation in this study.</p>
<br/>
    <h4>PARTICIPANT'S RIGHTS:</h4>  
    <p>If you have read this form and have decided to participate in this project, please understand your participation is <b>voluntary</b> and you have the right to withdraw your consent or discontinue participation at any time without penalty or loss of benefits to which you are otherwise entitled.  The alternative is not to participate.  You have the right to refuse to answer any questions. With your additional permission, your photographs will be taken during the study.</p>
<br/>
    <h4>OTHER INFORMATION:</h4>
    <p>If you have any questions, concerns or complaints about this research, its procedures, risks and benefits, please drop us an email at <b>don.teo.2013@smu.edu.sg</b>.</p>
<br/>
<center><h2><u><b>Participant’s Statement:</b></u></h2></center>
<br/>
<p>I understand that participation is <b>voluntary</b>. Refusal to participate will involve <b>no penalty</b>. I understand that I may <b>discontinue participation at any time without penalty or loss of accrued benefits (Benefits are accrued in proportion to the amount of study completed or as otherwise stated by the researcher) to which I am otherwise entitled</b>. I declare that I am <b>at least 18 years of age</b>.</p>

 <br/>  
 <p><input type = "checkbox" ng-model = "isAccepted" ng-change = "accept()"/> I agree with the above mentioned items and would like to proceed.</p>
  </div>
    <div class="item item-divider item-text-wrap center" ng-click="close()">
        OK 
    </div>
</div>