<!--    <ion-header-bar class="bar-subheader">
        <div class="button-bar">
            <div class="button-bar">
                <a class="button button-clear button-dark " ng-class="{'active' : activeTab == 1}" ng-click = "changeActiveTab(1)" >Available</a>
                <a class="button button-clear button-dark "  ng-class="{'active' : activeTab == 2}" ng-click = "changeActiveTab(2)" >In Progress</a>
                <a class="button button-clear button-dark " ng-class="{'active' : activeTab == 3}" ng-click = "changeActiveTab(3)" >Completed</a>
                <a class="button button-clear button-dark "  ng-class="{'active' : activeTab == 4}" ng-click = "changeActiveTab(4)" >Pending</a>

            </div>
        </div>
  </ion-header-bar> -->
<ion-view title="My Tasks" animation="no-animation" cache-view="false" hide-back-button ="true">

  <ion-nav-buttons side="left">
    <button menu-toggle="left"class="button button-icon button-clear button-dark ion-navicon"></button>
  </ion-nav-buttons>
  
  <ion-nav-buttons side="right">
    <button class="button button-icon button-clear button-dark ion-ios-plus-outline" ui-sref="menu.tab.create-task"></button>
 </ion-nav-buttons>
  
 
  <ion-content>
    <ion-refresher pulling-text="Pull to refresh" on-refresh="refresh()"></ion-refresher>
  <!-- tab for available tasks -->
  <div class="list">

    <div class="item item-divider" ng-class="{'active' : activeTab == 1}" ng-click = "changeActiveTab(1)">
      On-going
    </div>

   <div ng-show="activeTab==1">
      <div class = "list" can-swipe="true" ng-show="currentUser.inProgressTasks.length != 0" >
         <div ng-repeat="task in currentUser.inProgressTasks" ng-click = "viewInProgressTask(task)" >

             <a class="item item-thumbnail-left">
              <img src="img/venkman.jpg">
              <h2>{{task.name}}</h2>
              <p>{{task.description}}</p>
              <small>{{ task.startDate | date }} | {{ task.startTime | date:'shortTime' }}</small><br/>
              <small> ${{task.Average}} </small>
            </a>

        </div>
      </div>
      <div class = "list" can-swipe="true" ng-show="currentUser.inProgressTasks == 0">
        <center>
          <h2>Hey, {{currentUser.name}}</h2>
          <p>You have no on-going task</p>
          <button class="button button-balanced" type="button"  ui-sref="menu.tab.create-task">Create Task</button>
          <br/>
          <br/>
        </center>
      </div>
    </div>
   <div class="item item-divider" ng-class="{'active' : activeTab == 2}" ng-click = "changeActiveTab(2)">
      Proposed
  </div>   
  <div ng-show="activeTab==2">
    <div class = "list" can-swipe="true" ng-show="currentUser.proposedTasks.length != 0">
      <div ng-repeat="task in currentUser.proposedTasks | filter:  {isRejected : 'false'}" ng-click = "viewProposedTask(task)" >
           <a class="item item-thumbnail-left">
            <img src="img/venkman.jpg">
            <span class="item-note">
              Status
            </span>
            <h2>{{task.name}}</h2>
            <span class="item-note">
              <h3>Pending</h3>
            </span>
            <p>{{task.description}}</p>
            <small>{{ task.startDate | date }} | {{ task.startTime | date:'shortTime' }}</small><br/>
            <small> ${{task.Average}} </small>
          </a>

      </div>
    </div>
          <div class = "list" can-swipe="true" ng-show="currentUser.proposedTasks.length != 0">
      <div ng-repeat="task in currentUser.proposedTasks | filter:  {isRejected : 'true'}" ng-click = "viewProposedTask(task)" >
           <a class="item item-thumbnail-left">
            <img src="img/venkman.jpg">
            <span class="item-note">
              Status
            </span>
            <h2>{{task.name}}</h2>
            <span class="item-note">
              <h3>Rejected</h3>
            </span>
            <p>{{task.description}}</p>
            <small>{{ task.startDate | date }} | {{ task.startTime | date:'shortTime' }}</small><br/>
            <small> ${{task.Average}} </small>
          </a>

      </div>
    </div>
    <div class = "list" can-swipe="true" ng-show="currentUser.proposedTasks.length != 0">
      <div ng-repeat="task in currentUser.rejectedTasks | filter:  {isProposed : 'true'}" ng-click = "viewRejectedTask(task)">
          <a class="item item-thumbnail-left">
            <img src="../img/venkman.jpg">
            <span class="item-note">
              Status
            </span>
            <h2>{{task.name}}</h2>
            <span class="item-note">
              <h3>Rejected</h3>
            </span>
            <p>{{task.description}}</p>
            <small>{{ task.startDate | date }} | {{ task.startTime | date:'shortTime' }}</small><br/>
            <small> ${{task.Average}} </small>
          </a>

      </div>
    </div>
      <div class = "list" can-swipe="true" ng-show="currentUser.proposedTasks.length == 0">
          <center>
            <h2>Hey, {{currentUser.name}}</h2>
            <p>You have no pending proposed task to approve</p>
          </center>
      </div>
  </div>
  <div class="item item-divider" ng-class="{'active' : activeTab == 3}" ng-click = "changeActiveTab(3)">
      Evaluation
  </div>
  <div ng-show="activeTab==3">
      <div class = "list" can-swipe="true" ng-show="currentUser.pendingEvaluateTasks != 0">
         <div ng-repeat="task in currentUser.pendingEvaluateTasks" ng-click = "viewPendingApprovalForCompletedTask(task)">

             <a class="item item-thumbnail-left">
              <img src="img/venkman.jpg">
              <span class="item-note">
                Status
              </span>
              <h2>{{task.name}}</h2>
              <span class="item-note">
                <h3>Pending</h3>
              </span>
              <p>{{task.description}}</p>
              <small>{{ task.startDate | date }} | {{ task.startTime | date:'shortTime' }}</small><br/>
              <small> ${{task.Average}} </small>
            </a>

        </div>
      </div>
      <div class = "list" can-swipe="true" ng-show="currentUser.rejectedTasks.length != 0">
        <div ng-repeat="task in currentUser.rejectedTasks | filter: {isProposed : 'false'}" ng-click = "viewRejectedTask(task)">
             <a class="item item-thumbnail-left">
              <img src="img/venkman.jpg">
              <span class="item-note">
                Status
              </span>
              <h2>{{task.name}}</h2>
              <span class="item-note">
                <h3>Rejected</h3>
              </span>
              <p>{{task.description}}</p>
              <small>{{ task.startDate | date }} | {{ task.startTime | date:'shortTime' }}</small><br/>
              <small> ${{task.Average}} </small>
            </a>

        </div>
      </div>
      <div class = "list" can-swipe="true" ng-show="currentUser.pendingEvaluateTasks.length == 0 && currentUser.rejectedTasks.length == 0">
        <center>
          <h2>Hey, {{currentUser.name}}</h2>
          <p>You have no pending evaluation or rejected task</p>
          <button class="button button-balanced" type="button"  ui-sref="menu.tab.create-task">Create Task</button>
          <br/>
          <br/>
        </center>
      </div>
  </div>    
  <div class="item item-divider" ng-class="{'active' : activeTab == 4}" ng-click = "changeActiveTab(4)">
      Completed
  </div>  
  <div ng-show="activeTab==4">
    <div class = "list" can-swipe="true" ng-show="currentUser.completedTasks != 0">
       <div ng-repeat="task in currentUser.completedTasks" ng-click = "viewApprovedTask(task)">

           <a class="item item-thumbnail-left">
            <img src="img/venkman.jpg">
            <h2>{{task.name}}</h2>
            <p>{{task.description}}</p>
            <small>{{ task.startDate | date }} | {{ task.startTime | date:'shortTime' }}</small><br/>
            <small> ${{task.Average}} </small>
          </a>

      </div>
    </div>
    <div class = "list" can-swipe="true" ng-show="currentUser.completedTasks == 0">
      <center>
        <h2>Hey, {{currentUser.name}}</h2>
        <p>You have no approved completed task</p>
        <button class="button button-balanced" type="button"  ui-sref="menu.tab.create-task">Create Task</button>
        <br/>
        <br/>
      </center>
    </div>
  </div>
 
    
</div>
</ion-content>
</ion-view>